* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #333333;
	color: #ffca3a;
}

h1 {
	width: 100%;
	max-width: 500px;
	margin: 32px auto;
	padding: 32px 64px;
	text-align: center;
}

h3 {
  max-width: 500px;
	margin: 32px auto;
	padding: 32px 64px;
	text-align: center;
}

strong {
  color: #ede7b1;
}

.topo a, .rodape a {
	text-decoration: none;
	color: #ffca3a;
	font-family: 'Montserrat', sans-serif;
}

.topo a:hover {
	color: #ede7b1
}

.rodape a:hover {
	color: #ede7b1
}

input {
	background: #fff;
	width: 100%;
	max-width: 400px;
	margin: 10px auto;
	padding: 12px 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	list-style: none;
	color: #000
}

label, p {
	display: flex;
	justify-content: center;
	align-items: start
}

.rodape {
	width: 100%;
	max-width: 500px;
	margin: 0px auto;
	display: flex;
	justify-content: space-around
}

button {
	font-family: 'Montserrat', sans-serif;
	background: rgba(255, 255, 255, 0.04);
	width: 100%;
	max-width: 200px;
	margin: 20px auto;
	padding: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	list-style: none;
	color: #f6f4d2
}

a {
	text-decoration: none
}